<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp page</title>
</head>
<body>
    <div>
        <form method = "post" action = "/user/signup">
            <h1>User SignUp</h1>
            <label>FullName :</label>
            <input type = "text" name = "name"/><br><br>
            <label>Email :</label>
            <input type = "text" name = "email"/><br><br>
            <label>Password :</label>
            <input type = "text" name="password"/><br><br>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>